<main class="flex h-[100vh]">
  <section aria-label="left" class="max-w-[800px] h-full max_lg:hidden">
    <img [src]="bgImage" alt="" class="w-full h-full object-cover" />
  </section>
  <section
    aria-label="right"
    class="flex-1 w-full min-w-[600px] relative max_sm:min-w-0"
  >
    <div aria-label="logo">
      <img src="images/logo.svg" alt="" class="absolute top-20 right-20" />
    </div>
    <div
      aria-label="container"
      class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full max-w-[550px] px-6"
    >
      <div aria-label="form-content" class="space-y-8">
        <h1 class="text-center text-3xl font-semibold">
          Inscrivez-vous dès maintenant !
        </h1>
        <form
          class="space-y-8"
          [formGroup]="registerForm"
          (ngSubmit)="submitRegister()"
        >
          <div aria-label="inputs" class="flex flex-col gap-y-4">
            <label aria-label="input" class="border px-4 py-2">
              <input
                type="text"
                formControlName="firstname"
                placeholder="Entrer votre prenom"
                class="w-full outline-none"
                required
              />
            </label>
            <label aria-label="input" class="border px-4 py-2">
              <input
                type="text"
                formControlName="lastname"
                placeholder="Entrer votre nom"
                class="w-full outline-none"
                required
              />
            </label>
            <label aria-label="input" class="border px-4 py-2">
              <input
                type="email"
                formControlName="email"
                placeholder="Entrer votre adresse email"
                class="w-full outline-none"
                required
              />
            </label>
            <label aria-label="input" class="flex border px-4 py-2">
              <input
                [type]="showPassword ? 'text' : 'password'"
                formControlName="password"
                placeholder="Entrer votre mot de passe"
                class="w-full outline-none"
                required
              />
              <fa-icon
                [icon]="showPassword ? faEyeSlashIcon : faEyeIcon"
                (click)="showPassword = !showPassword"
                class="cursor-pointer"
              ></fa-icon>
            </label>
            <label aria-label="input" class="flex border px-4 py-2">
              <input
                [type]="showConfirmPassword ? 'text' : 'password'"
                formControlName="confirmPassword"
                placeholder="Confirmer votre mot de passe"
                class="w-full outline-none"
                required
              />
              <fa-icon
                [icon]="showConfirmPassword ? faEyeSlashIcon : faEyeIcon"
                (click)="showConfirmPassword = !showConfirmPassword"
                class="cursor-pointer"
              ></fa-icon>
            </label>
          </div>
          <div aria-label="button" class="flex justify-center">
            <app-custom-button-component type="submit"
              >S'inscrire</app-custom-button-component
            >
          </div>
        </form>
      </div>
    </div>
    <div
      class="absolute bottom-20 left-1/2 -translate-x-1/2 -translate-y-1/2 w-full text-center px-6"
    >
      <a routerLink="/login" class="font-semibold text-sm underline"
        >Déjà inscrit sur la plateforme ? Connectez-vous ici</a
      >
    </div>
  </section>
</main>
