<div class="py-5 bg-slate-50 px-12">
  <div class="cards grid grid-cols-4 gap-4">
    <app-stat-card title="missions en attente de validation" [value]="nbPendingMissions" class="h-40"></app-stat-card>
    <app-stat-card title="missions acceptées" [value]="nbValidatedMissions" class="h-40"></app-stat-card>
    <app-stat-card title="missions en cours" [value]="nbMissionsInProgress" class="h-40"></app-stat-card>
    <app-stat-card title="montant total primes (année en cours)" [value]="(totalBountiesAmountOfYear + '€') || '0€'" class="h-40"></app-stat-card>
  </div>
  
  <div class="flex justify-between items-center mt-12">
    <h6 class="font-medium leading-tight text-gray-700">Dernières missions</h6>
    <a routerLink="/missions" class="text-gray-500 hover:text-gray-800">Afficher tout</a>
  </div>
  <div class="table mt-12"></div>
  <app-table 
  [headers]="headers_missions_collaborators" 
  [data]="missions" 
  [totalElements]="responseData?.totalElements ?? 0" 
  [pageIndex]="responseData?.number ?? 0"
  [pageSize]="responseData?.size ?? 5"
  (pageChange)="handlePageEvent($event)"
  >
</app-table>


  <div class="flex justify-between items-center mt-12" *ngIf="expenses.length">
    <h6 class="font-medium leading-tight text-gray-700">Dernières notes de frais</h6>
    <a routerLink="/notes-de-frais" class="text-gray-500 hover:text-gray-800">Afficher tout</a>
  </div>
  <div class="table mt-12"></div>
  <app-table 
  *ngIf="expenses.length"
  [headers]="headers_expenses" 
  [data]="expenses" 
  [totalElements]="expensesData?.totalElements ?? 0" 
  [pageIndex]="expensesData?.number ?? 0"
  [pageSize]="expensesData?.size ?? 5"
  (pageChange)="handleExpenseEvent($event)"
  ></app-table>

  <div class="flex justify-between items-center mt-12">
    <h6 class="font-medium leading-tight text-gray-700">Dernières primes</h6>
    <a routerLink="/primes" class="text-gray-500 hover:text-gray-800">Afficher tout</a>
  </div>
  <div class="table mt-12"></div>
  <app-table 
  [headers]="headers_bounties"
   [data]="bounties"
   ></app-table>

  </div>
  