<!-- Full width table -->
<table class="w-full bg-white shadow-md rounded-lg overflow-hidden">
  <thead class="bg-gray-100">
    <tr>
      <th *ngFor="let header of headers" class="py-2 px-4 text-left text-sm font-medium text-gray-700">
        {{ header.label }}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data" class="hover:bg-gray-60">
      <td *ngFor="let header of headers" class="border-t py-2 px-4 text-sm text-gray-600">
        {{ row[header.value] }}
      </td>
    </tr>
  </tbody>
</table>

<!-- Full width footer navigation -->
<nav aria-label="Page navigation example" class="w-full border rounded-xl mt-4 p-4">
  <ul class="list-style-none flex justify-center space-x-2">
    <li>
      <a
        class="pointer-events-none text-gray-400 px-3 py-1.5 text-sm"
        >Previous</a
      >
    </li>
    <li>
      <a
        class="bg-blue-100 rounded-lg text-blue-600 text-black px-3 py-1.5 text-sm"
        href="#!"
        >1</a
      >
    </li>
    <li aria-current="page">
      <a
        class="px-3 py-1.5 text-sm rounded"
        href="#!"
        >2</a
      >
    </li>
    <li>
      <a
        class="text-black px-3 py-1.5 text-sm"
        href="#!"
        >3</a
      >
    </li>
    <li>
      <a
        class="text-black px-3 py-1.5 text-sm"
        href="#!"
        >Next</a
      >
    </li>
  </ul>
</nav>
