<header
  class="fixed top-0 left-0 z-10 w-full flex items-center justify-between py-7 px-10 border-b drop-shadow bg-tw_white"
>
  <div aria-label="left">
    <img src="/images/logo.svg" alt="" class="object-cover" width="60" />
  </div>
  <div aria-label="right">
    <div aria-label="card" class="flex items-center gap-x-4">
      <div
        aria-label="card-image"
        class="w-8 h-8 rounded-full bg-neutral-700"
      ></div>
      <div aria-label="card-text" class="font-semibold">
        <p class="text-sm">Thomas Dupont</p>
        <p class="text-xs text-tw_black/55">Consultant Informatique</p>
      </div>
    </div>
  </div>
</header>
<section class="flex h-[100vh]">
  <aside
    aria-label="menu-sidebar"
    class="flex flex-col justify-between w-[300px] mt-28 py-8"
  >
    <ul>
      <li>
        <a href="" class="flex items-center gap-x-4 px-6 py-4">
          <fa-icon [icon]="faHouseIcon" class="text-base"></fa-icon>
          <p class="text-sm font-bold">Tableau de bord</p>
        </a>
      </li>
      <li>
        <a href="" class="flex items-center gap-x-4 px-6 py-4">
          <fa-icon [icon]="faUsersIcon" class="text-base"></fa-icon>
          <p class="text-sm">Collaborateurs</p>
        </a>
      </li>
      <li>
        <a href="" class="flex items-center gap-x-4 px-6 py-4">
          <fa-icon [icon]="faBookIcon" class="text-base"></fa-icon>
          <p class="text-sm">Missions</p>
        </a>
      </li>
      <li>
        <a href="" class="flex items-center gap-x-4 px-6 py-4">
          <fa-icon [icon]="faSuitcaseIcon" class="text-base"></fa-icon>
          <p class="text-sm">Nature Missions</p>
        </a>
      </li>
      <li>
        <a href="" class="flex items-center gap-x-4 px-6 py-4">
          <fa-icon [icon]="faScrollIcon" class="text-base"></fa-icon>
          <p class="text-sm">Notes de frais</p>
        </a>
      </li>
      <li>
        <a href="" class="flex items-center gap-x-4 px-6 py-4">
          <fa-icon [icon]="faCoinsIcon" class="text-base"></fa-icon>
          <p class="text-sm">Primes</p>
        </a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="" class="flex items-center gap-x-4 px-6 py-4">
          <fa-icon [icon]="faGearIcon" class="text-base"></fa-icon>
          <p class="text-sm">Paramètre</p>
        </a>
      </li>
      <li>
        <a href="login" class="flex items-center gap-x-4 px-6 py-4">
          <fa-icon [icon]="faLogoutIcon" class="text-base"></fa-icon>
          <p class="text-sm">Déconnexion</p>
        </a>
      </li>
    </ul>
  </aside>
  <section
    aria-label="container"
    class="w-full h-full bg-tw_black/5"
  >
    <div class="overflow-y-scroll h-full">
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>azdazd</div>
      <div>good</div>
    </div>
  </section>
</section>
