<table class="min-w-full divide-y divide-gray-200 overflow-x-auto border rounded-lg">
  <thead class="bg-gray-50 ">
      <tr>
          <th *ngFor="let header of headers" scope="col" class=" text-center px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">
              {{header.label}}
          </th>
          <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              Actions
          </th>
      </tr>
  </thead>
  <tbody class="bg-white divide-y divide-gray-200">
    <tr *ngFor="let row of data" class="cursor-pointer hover hover:bg-slate-50">
      <td *ngFor="let header of headers" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
        <div (click)="navigateToMission(row.id)">

          <!-- Custom rendering based on the column -->
          <ng-container [ngSwitch]="header.value" >
            
            <!-- Custom rendering for "Dates" column -->
            <div *ngSwitchCase="'startDate'" class="flex flex-col">
              <span class="mb-1">Du: {{ row.startDate }}</span>
              <span> Au: {{ row.endDate }}</span>
            </div>
          
            <!-- Custom rendering for "Bounty Amount" column -->
            <div *ngSwitchCase="'transport'" class="text-center">
              {{ getTransportLabel(row.transport) }}
            </div>
    
            <!-- Custom rendering for "Status" column -->
            <div *ngSwitchCase="'status'" class="px-2 py-1 rounded-full text-center" [ngClass]="{
              'bg-green-100 text-green-800': row.status.toUpperCase() === 'VALIDATED',
              'bg-yellow-100 text-yellow-800': row.status.toUpperCase() === 'IN_PROGRESS',
              'bg-red-100 text-red-800': row.status.toUpperCase() === 'REJECTED',
              'bg-blue-100 text-blue-800': row.status.toUpperCase() === 'FINISHED', 
              'bg-gray-200 text-gray-800': row.status.toUpperCase() === 'WAITING'
            }">
                {{getStatusLabel(row.status)}}
            </div>   
  
            <!-- Default rendering for all other columns -->
            <div *ngSwitchDefault class="text-center">
              {{ row[header.value] }} <span *ngIf="header.displayCurrency">€</span>
            </div>
    
          </ng-container>

        </div>
      </td>
  
      <!-- Colonne pour les actions -->
      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium ">
        <button mat-icon-button [matMenuTriggerFor]="menu" class="action-btn">
          <mat-icon class="text-slate-600">more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" aftermenu="matMenu" xposition="after">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item>
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
        </mat-menu>

      </td>
      
    </tr>
  </tbody>  
</table>
<mat-paginator [length]="dataSource.data.length" [pageSizeOptions]="[2, 10, 50, 100]" aria-label="Select page" class="border bg-white-300">
</mat-paginator>


