<h3 class="text-2xl font-semibold mb-4 text-center">Lignes de frais:</h3>

<div class="overflow-x-auto">
  <table class="min-w-full border border-gray-300 bg-white rounded-xl">
    <thead class="bg-gray-200 text-gray-700 border-b border-gray-300">
      <tr>
        <th class="py-2 px-4 text-left">Date</th>
        <th class="py-2 px-4 text-left">TVA</th>
        <th class="py-2 px-4 text-left">Montant</th>
        <th class="py-2 px-4 text-left">Type</th>
        <th class="py-2 px-4 text-left">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let line of expenseLines" class="hover:bg-gray-100">
        <ng-container *ngIf="expenseLineId !== line.id && line.id; else editRow">
          <td class="py-2 px-4">{{ line.date | date:'longDate':'medium':'fr' }}</td>
          <td class="py-2 px-4">{{ line.tva }}%</td>
          <td class="py-2 px-4">{{ line.amount }}€</td>
          <td class="py-2 px-4">{{ line.expenseType }}</td>
          <td class="py-2 px-4 flex items-center">
            <button 
              class="text-blue-600 hover:underline mr-2"
              (click)="onModifyLine(line.id)">
              ✏️
            </button>
            <button 
              class="text-red-600 hover:underline"
              (click)="onRemoveLine(line.id)">
              🗑️
            </button>
          </td>
        </ng-container>
        <ng-template #editRow>
          <td colspan="5">
            <app-expense-line-form
              [expenseLine]="line"
              [isNewMode]="false"
              (formSubmit)="onFormSubmit($event)">
            </app-expense-line-form>
          </td>
        </ng-template>
      </tr>

      <tr *ngIf="isNewLine">
        <td colspan="5">
          <app-expense-line-form
            [isNewMode]="true"
            (formSubmit)="onFormSubmit($event)">
          </app-expense-line-form>
        </td>
      </tr>
    </tbody>
  </table>
</div>

