.container {
  width: 100%;
  padding: 20px;
  background-color: #f8f9fa;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    font-size: 24px;
    color: #333;
  }
  .add-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    
    &:hover {
      background-color: #333; /* Couleur légèrement plus claire au survol */
    }
  }


  span {
    font-size: 14px;
    color: #666;
  }

  input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 250px;
  }
}

.mission-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;

  th, td {
    padding: 12px;
    text-align: left;
  }

  thead {
    background-color: #eee;
    border-bottom: 2px solid #ddd;

    th {
      color: #333;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #ddd;

      &:hover {
        background-color: #f1f1f1;
      }

      td {
        color: #555;

        &:last-child {
          text-align: center;
        }
      }

      button {
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;

  button {
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}
