<app-layout>
  <main>
    <section aria-label="top-content">
      <div aria-label="top" class="flex items-start gap-x-4 pb-6">
        <div aria-label="img">
          <img
            src="https://picsum.photos/200"
            alt=""
            class="w-16 h-16 rounded-full"
          />
        </div>
        <div aria-label="text" class="space-y-2">
          <div>
            <h2 class="font-semibold">Firstname Lastname</h2>
            <h3 class="text-sm font-semibold text-tw_black/55">Job</h3>
          </div>
          <a
            href="mailto:test@test.test"
            class="inline-flex items-center gap-x-2 border px-2 py-1"
            ><fa-icon [icon]="faEnvelopeIcon"></fa-icon>
            <p class="text-sm">Send email</p>
          </a>
        </div>
      </div>
      <div aria-label="bottom-header-navigation">
        <ul class="flex items-center py-2 border-b gap-x-4">
          <li>
            <app-custom-button-link-component
              theme="border"
              textSize="text-sm"
              link="/settings/user-details"
              [iconLeft]="faUserIcon"
              >User details</app-custom-button-link-component
            >
          </li>
          <li>
            <app-custom-button-link-component
              textSize="text-sm"
              link="/settings/change-password"
              [iconLeft]="faKeyIcon"
              >Change password</app-custom-button-link-component
            >
          </li>
        </ul>
      </div>
    </section>
    <section aria-label="bottom-content">
      <form action="" class="w-full">
        <div aria-label="button" class="flex justify-end">
          <app-custom-button-component theme="regular"
            >Modifier</app-custom-button-component
          >
        </div>
        <div>
          <div
            aria-label="inputs-top"
            class="max-w-[700px] flex flex-col gap-4 mb-4 text-sm"
          >
            <div aria-label="input" class="flex flex-col gap-y-2">
              <label class="text-sm font-semibold" for="oldPassword"
                >Ancien mot de passe</label
              >
              <input
                type="text"
                id="oldPassword"
                placeholder="Entrer votre prénom..."
                class="py-2 px-4 border-2 bg-transparent"
              />
            </div>
            <div aria-label="input" class="flex flex-col gap-y-2">
              <label class="text-sm font-semibold" for="newPassword"
                >Nouveau mot de passe</label
              >
              <input
                type="text"
                id="newPassword"
                placeholder="Entrer votre nom..."
                class="py-2 px-4 border-2 bg-transparent"
              />
            </div>
            <div aria-label="input" class="flex flex-col gap-y-2">
              <label class="text-sm font-semibold" for="confirmPassword"
                >Confirmer nouveau mot de passe</label
              >
              <input
                type="text"
                id="confirmPassword"
                placeholder="Entrer votre date de naissance..."
                class="py-2 px-4 border-2 bg-transparent"
              />
            </div>
          </div>
        </div>
      </form>
    </section>
  </main>
</app-layout>
