<app-layout>
  <main>
    <section aria-label="top-content">
      <div aria-label="top" class="flex items-start gap-x-4 pb-6">
        <div aria-label="img">
          <img
            src="https://picsum.photos/200"
            alt=""
            class="w-16 h-16 rounded-full"
          />
        </div>
        <div aria-label="text" class="space-y-2">
          <div>
            <h2 class="font-semibold" *ngIf="userData$ | async as userData">
              {{ userData.firstName }} {{ userData.lastName }}
            </h2>
            <h3 class="text-sm font-semibold text-tw_black/55">Job</h3>
          </div>
          <a
            *ngIf="userData$ | async as user"
            href="mailto:{{ user?.email }}"
            class="inline-flex items-center gap-x-2 border px-2 py-1"
            ><fa-icon [icon]="faEnvelopeIcon"></fa-icon>
            <p class="text-sm">Send email</p>
          </a>
        </div>
      </div>
      <div aria-label="bottom-header-navigation">
        <ul class="flex items-center py-2 border-b gap-x-4">
          <li>
            <app-custom-button-link-component
              theme="border"
              textSize="text-sm"
              link="/settings/user-details"
              [iconLeft]="faUserIcon"
              >User details</app-custom-button-link-component
            >
          </li>
          <li>
            <app-custom-button-link-component
              textSize="text-sm"
              link="/settings/change-password"
              [iconLeft]="faKeyIcon"
              >Change password</app-custom-button-link-component
            >
          </li>
        </ul>
      </div>
    </section>
    <section aria-label="bottom-content">
      <form action="" class="w-full" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div aria-label="button" class="flex justify-end">
          <app-custom-button-component type="submit" theme="regular"
            >Modifier</app-custom-button-component
          >
        </div>
        <div>
          <div
            aria-label="inputs-top"
            class="max-w-[700px] flex flex-col gap-4 mb-4 text-sm"
          >
            <div aria-label="input" class="flex flex-col gap-y-2">
              <label class="text-sm font-semibold" for="oldPassword"
                >Ancien mot de passe</label
              >
              <div
                class="flex items-center justify-between py-2 px-4 border-2 bg-transparent"
              >
                <input
                  [type]="showOldPassword ? 'text' : 'password'"
                  id="oldPassword"
                  formControlName="oldPassword"
                  placeholder="Entrer votre prénom..."
                  class="w-full bg-transparent outline-none"
                />
                <fa-icon
                  class="cursor-pointer"
                  [icon]="showOldPassword ? faEyeSlashIcon : faEyeIcon"
                  (click)="showOldPassword = !showOldPassword"
                ></fa-icon>
              </div>
            </div>
            <div aria-label="input" class="flex flex-col gap-y-2">
              <label class="text-sm font-semibold" for="newPassword"
                >Nouveau mot de passe</label
              >
              <div
                class="flex items-center justify-between py-2 px-4 border-2 bg-transparent"
              >
                <input
                  [type]="showNewPassword ? 'text' : 'password'"
                  id="newPassword"
                  formControlName="newPassword"
                  placeholder="Entrer votre nom..."
                  class="w-full bg-transparent outline-none"
                />
                <fa-icon
                  class="cursor-pointer"
                  [icon]="showNewPassword ? faEyeSlashIcon : faEyeIcon"
                  (click)="showNewPassword = !showNewPassword"
                ></fa-icon>
              </div>
            </div>
            <div aria-label="input" class="flex flex-col gap-y-2">
              <label class="text-sm font-semibold" for="confirmPassword"
                >Confirmer nouveau mot de passe</label
              >
              <div
                class="flex items-center justify-between py-2 px-4 border-2 bg-transparent"
              >
                <input
                  [type]="showConfirmPassword ? 'text' : 'password'"
                  id="confirmPassword"
                  formControlName="confirmPassword"
                  placeholder="Entrer votre date de naissance..."
                  class="w-full bg-transparent outline-none"
                />
                <fa-icon
                  class="cursor-pointer"
                  [icon]="showConfirmPassword ? faEyeSlashIcon : faEyeIcon"
                  (click)="showConfirmPassword = !showConfirmPassword"
                ></fa-icon>
              </div>
            </div>
          </div>
        </div>
      </form>
    </section>
  </main>
</app-layout>
